
@media (max-width:767px) {
    .aside-facebook {display:none}
}

.section-facebook > .fileDiv {
    display: none;
}

.section-facebook {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.profile-inner {position: relative; margin-top: 10px;}
.profile-inner > .profile  {
    position: absolute;
    left: 0;
    top: 0;
}

.profile-inner > .profile-name {
    padding-left: 50px;
}
.profile-inner p {
    margin-bottom: 0px;
}

.content-inner > p {
    padding: 10px 0;
    margin: 0;
}
.like-inner , .button-inner {
    border-top: 1px solid #d2d2d2;
    margin-top: 5px;
}
.image-inner > img {
    width: 100%;
}
.like-inner > a {text-decoration: none; color:#333; font-size: 10px;}
.like-inner > a > span {
    vertical-align: middle;
}

.button-inner {overflow: hidden;} /*플롯쌓으면 부모에게 무조건 오버플로히든 */
.button-inner > a {
    width: 33.3333%;
    float: left;
    text-align: center;
    color: #333;
    text-decoration: none;
    padding: 10px 0;

}

.button-inner i {
    margin-right: 5px;
}




